@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
/*------------------------------------------*/
/*body*/
/*------------------------------------------*/
body{
    background-color: #f3f3f3;
    padding: 16px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 90vh;
}
/*------------------------------------------*/
/*cart*/
/*------------------------------------------*/
.title-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-cart button{
    color: #fff;
    border-radius: 6px;
    background-color: #0180e7;
    border: 0;
    margin-top: -15px;
    padding: 12px;
}
.cart{
    /* overflow: ; */
    padding: 35px;
    width: 500px;
    height: 80vh;
    color: #333;
    border-radius: 6px;
    background-color: #eeeeeee1;
    box-shadow: 2px 2px 7px #999;
    border: 1px #b8b8b899 solid;
}
.cart h2:not(.info-cart h2){
    margin-bottom: 14px;
}
.img-cart-background{    
    width: 700px;
    z-index: -1;
    margin-left: -380px;
    box-shadow: 2px 2px 7px #999;
    border-radius: 6px;   
}
/*------------------------------------------*/
/*info cart*/
/*------------------------------------------*/
.info-cart{
    display: flex;
    background-color: #f6f6f6;
    padding: 12px;
    border: 1px #b8b8b8bb solid;
    box-shadow: 2px 2px 7px #ccc;
    margin-bottom: 8px;
}
.thumball{  
    margin-right: 10px;  
    border: 1px #b8b8b8 solid;
    border-radius: 3px;
    width: 130px;
}
.info-cart-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-cart-description p i{
    font-size: 14px;
    color: rgb(185, 22, 22);   
}
.info-cart-buttons-and-cost{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info-cart-button{
    display: flex;
    width: 100px;
    margin-right: 65px;
    align-items: center;
    justify-content: space-around;
    background-color: #b8b8b866;
    border-radius: 50px;
    padding: 5px;
}
.info-cart-cost{
    margin-bottom: -5px;
}
.info-cart-button button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.total{
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}